<!DOCTYPE html>
<html>
<head>
  #parse("/fragment/head.vm")
</head>
<body>
  #parse("/fragment/splash.vm")
  #parse("/fragment/header.vm")
  #parse("/fragment/menu.vm")

  <!-- Main Wrapper -->
  <div id="wrapper">
    ${screen_content}
    <!-- Footer-->
    <footer class="footer">
      <span class="pull-right">Based on <a href="http://github.com/Mashape/kong" target="_blank">kong</a></span>
      Copyright © 2008-2016 OneAPM
    </footer>
  </div>

  #parse("/fragment/footer.vm")
</body>
</html>
