<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <div class="env-element" id="current-env" env="daily">API管理后台</div>
                </div>
                <div class="logo-element"><img style="margin: 10px;" src="/assets/img/logo.svg"></div>
            </li>
            <li>
                <a href="index.htm">
                    <i class="fa fa-th"></i> <span class="nav-label">首页</span>
            </li>
            <li>
                <a href="#"><i class="fa fa-server"></i> <span class="nav-label">用户信息</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse">
                    <li><a href="/user/keyList">密钥列表</a></li>
                    <li><a href="node-group-manager">申请密钥</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
