<!-- Navigation -->
<aside id="menu">
  <div id="navigation">
    <div class="profile-picture">
      <div class="stats-label text-color">
        <span class="font-extra-bold font-uppercase">$!{loginUser.userName}</span> ## TODO 用户名定义
        <div class="dropdown">
          <a class="dropdown-toggle" href="#" data-toggle="dropdown">
            <small class="text-muted">操作 <b class="caret"></b></small>
          </a>
          <ul class="dropdown-menu animated flipInX m-t-xs">
            <li><a href="#">修改密码</a></li> ## TODO 修改密码
            <li><a href="${rc.contextPath}/admin/user/logout">注销</a></li>
          </ul>
        </div>
      </div>
    </div>
    <ul class="nav" id="side-menu">
      <!-- Project Menu -->
      <li #activeMenu("index" $parentMenu)>
        <a href="${rc.contextPath}/admin/index"> <span class="nav-label">首页</span><span
            class="label label-success pull-right">start</span></a>
      </li>
      <li #activeMenu("api" $parentMenu)>
        <a href="#"><span class="nav-label">API 管理</span><span class="fa arrow"></span></a>
        <ul class="nav nav-second-level">
          <li #activeMenu("addApi" $menuName)><a href="${rc.contextPath}/admin/api/add">添加 API</a></li>
          <li #activeMenu("listApi" $menuName)><a href="${rc.contextPath}/admin/api/list">检索 API</a></li>
        </ul>
      </li>
      <li #activeMenu("consumer" $parentMenu)>
        <a href="#"><span class="nav-label">开发者管理</span><span class="fa arrow"></span></a>
        <ul class="nav nav-second-level">
          <li #activeMenu("addConsumer" $menuName)><a href="${rc.contextPath}/admin/consumer/add">开发者申请</a></li>
          <li #activeMenu("listConsumer" $menuName)><a href="${rc.contextPath}/admin/consumer/list">开发者列表</a></li>
        </ul>
      </li>
      <li #activeMenu("plugin" $parentMenu)>
        <a href="#"><span class="nav-label">插件管理</span><span class="fa arrow"></span></a>
        <ul class="nav nav-second-level">
          <li #activeMenu("editPlugin" $menuName)><a href="${rc.contextPath}/admin/plugin/select">编辑插件</a></li>
          <li #activeMenu("listPlugin" $menuName)><a href="${rc.contextPath}/admin/plugin/list">检索插件</a></li>
        </ul>
      </li>
    </ul>
  </div>
</aside>
