#*
* Menu Node Dynamic Highlight
*#

#macro( activeMenu $menuName $activeName)
  #if($menuName == $activeName)
  class="active"
  #end
#end

#*
* Bread Crumb Navigation
*#

#macro( breadCrumb $parentPage $pageDesc)
<div class="normalheader transition animated fadeIn">
  <div class="hpanel">
    <div class="panel-body">
      <a class="small-header-action" href="">
        <div class="clip-header">
          <i class="fa fa-arrow-up"></i>
        </div>
      </a>
      <div id="hbreadcrumb" class="pull-right m-t-lg">
        <ol class="hbreadcrumb breadcrumb">
          <li><a href="${rc.contextPath}/index">首页</a></li>
          #if( $parentPage )
          <li>
            <span>$!{parentPage}</span>
          </li>
          #end
          <li class="active">
            <span>$!{pageTitle}</span>
          </li>
        </ol>
      </div>
      <h2 class="font-light m-b-xs">
        $!{pageTitle}
      </h2>
      <small>$!{pageDesc}</small>
    </div>
  </div>
</div>
#end

#*
* CSRF Tag
 *#
#macro( csrfTag )
<input type="hidden" name="csrfToken" value="$csrfTool.getToken($request)"/>
#end
