# Kong 调用地址
kongAddress=http://127.0.0.1

# 调用 Kong 的超时时间 (ms)
invokeTimeoutMillis=3000

# Kong 监听端口
listenPort=8001

# 选择数据库
configs.jdbc.datasource.provider=mysql

# MySQL 配置参数
configs.jdbc.url=jdbc:mysql://localhost:3306/apisystem
configs.jdbc.username=apisystem
configs.jdbc.password=199231

# Druid 配置参数
#druid.initialSize=
#druid.maxActive=
#druid.maxIdle=
#druid.minIdle=
#druid.maxWait=
#druid.poolPreparedStatements=
#druid.maxOpenPreparedStatements=
#druid.validationQuery=
#druid.testOnBorrow=
#druid.testOnReturn=
#druid.testWhileIdle=
#druid.timeBetweenEvictionRunsMillis=
#druid.numTestsPerEvictionRun=
#druid.minEvictableIdleTimeMillis=
#druid.exceptionSorter=
#druid.filters=
